.header {
    

    &_titulo {
        text-align: center;

        h1 {
            margin-bottom: 0;
        }

        a {
            @extend %estilo1;
            font-size: 60px;
        }
    }

    .navbar-nav {
        a {
            &:hover {
                font-size: 105%;
            }
        }
    }
}